{% extends 'base.html' %}

{% block title %}Room non vérifiée{% endblock %}

{% block content %}
<div class="container py-5 text-center">
    <h2 class="text-danger fw-bold mb-3">⚠️ Votre chambre n'est pas vérifiée</h2>
    <p class="text-muted mb-4">Vous ne pouvez pas ajouter de membres ou de taches tant que votre chambre n'est pas vérifiée.</p><br><br><br>
    <p>La verification de votre room est en cours.... si vous estimez que cela prend trop de temps vous pouvez nous contacter par mail sur colloc.manager@gmail.com pour que nous verifions votre room et vous donnons la possibilité d'ajouter des membres ou des taches merci</p>

    <a href="{% url 'list_members' %}" class="btn btn-primary rounded-pill px-4">Retour à la liste des membres</a>
</div>
{% endblock %}
